* {
    margin: 0px;
    padding: 0px;
    font-family: 'arial', cursive;
}

.contenedor {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 10%;
}

h3,
h2,
h1 {
    text-align: center;
    font-family: sans-serif, cursive;
}

.sectionflex {
    display: flex;
    flex-wrap: wrap;
}

.character {
    width: 22%;
    margin: 1%;
    border: 1px black solid;
    text-align: center;
    border-radius: 5px;
}

.character img {
    width: 70%;
    border-radius: 3%;
}

.character div {
    text-align: left;
    padding: 3%;
}

h3, h2 {
    font-weight: bold;
    margin-bottom: 2%;
}

footer {
    background-color: rgb(12, 4, 39);
    color: white;
    height: 50px;
    text-align: center;
}

footer p {
    padding-top: 1%;
}

/* CSS formulario */
form {
    margin-left: 20%;
    width: 80%;
    text-align: left;
}

.elementoflex{
    width: 100%;
    margin-bottom: 2%;
}

.label {
    width: 20%;
    float: left;
}

.elementoflex input, select, textarea {
    width: 70%;
    height: 30px;
}

.boton-div {
    text-align: center;
    width: 50%;
    margin-bottom: 20%;
    margin-top: 5%;
}

.boton-div button {
    background-color: rgb(12, 4, 39);
    border: 5px rgb(12, 4, 39);
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    color: white;
}

.check {
    width: 40%;
    height: 50px;
    margin-left: 20%;
    font-size: small;
}